.customLabel{
    font-size: smaller;letter-spacing: 0.7px;font-family: Arial
}


.user-settings-wrapper .nav li a:hover{
    background: #F0677C!important;
}

.dashboard-div-wrapper{
    transition: all 0.3s ease 0s;
}
.dashboard-div-wrapper:hover{
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

#snackbar {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0;
    font-size: 17px;
}

.customNavDashboardStudent, .menu-section{
    background-color: #465F78!important;
    /* border-top: 1px solid white!important; */
}

.menu-section{
   border-top: 1px solid white!important;
}
