@import "app.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/**CUSTON NAVBAR*/

.navbar{
  background: #465F78!important;
  border: none!important;
  box-shadow: -5px 8px 8px -3px rgba(122,105,122,0.66)!important;
   border-radius: 0
}
.navbar  a{
  color: white!important;
}

/**END NAVBAR*/
.group,.student{
  background-color: #465f78;
  height: auto;
  margin-left: 50px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
  color: white;
  border-radius: 6px
}

.group:hover{
    -webkit-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
    -moz-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
     box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
}

.actions{
  margin-bottom: 10px!important;
  border-top: 1px solid lightgrey;
  padding-top: 10px!important
}

.update_group,#add,#save_group,.update_student,.save_update_group_student,#save_student{
  background: #26a69a!important;
  border: none!important;
  border-radius: 0
}
.delete_group,.delete_student{
  background: #da4e4e!important;
  border: none!important;
  border-radius: 0
}
.toggle-modal-show{
  color: #59c3ff
}
.toggle-modal-show:hover{
    color:#59c3ff;
}
.toggle-modal-show:focus{
      text-decoration: none;
}
/**CUTSOM FROM ADD GROUP**/
.form,.form_update,.student,.form_update_student,.save_update_studen_group {
  background: #465F78;
  color: white;
  height: 320px;
  transition: all 0.3s ease 0s;
  border-radius: 6px
}
.form:hover{
  -webkit-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
  -moz-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
   box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
}
#add,#save_group{
      font-size: large;
}
a:hover{
  text-decoration: none;
}
.name_span_add_err{
  color: #ffc7c6!important
}

/*** CUSTOM FROM UPDATE GROUP ***/
.danger,#stream_span_err,#nom_span_err{
  color: #ffc7c6!important
}

.form_update{
  height: 400px
}

/*CUSTOM SHOW ALL STUDENTS*/
.student{
  margin-bottom: 40px;
  margin-right: 40px;
  width: 300px;
  height: 300px;
  transition: all 0.3s ease 0s;
  border-radius: 6px
}
.student:hover{
  -webkit-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
  -moz-box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
   box-shadow: 7px 6px 5px -3px rgba(122,105,122,0.66);
}

.student .actions{
  margin-top: 60px
}

.items{
  list-style: none;
  margin-left: -36px;
}
.items li{
  margin-bottom: 1px
}


.form_update_student,.save_update_studen_group{
  height: auto;
}
.help-block{
  color: #ffc7c6!important
}

.Dispo_group{
  float: left;
  width: 60px;
  background: red;
  text-align: center;
  margin-right: 10px
}

.save_update_group_student{
  margin-top: 15px;
  margin-bottom: 10px;
  color: white
}

/*********** Card's teachers   ******/

.card {
       display: inline-block;
       position: relative;
       width: 100%;
       margin: 25px 0;
       margin-top: 50px;
       box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
       border-radius: 3px;
       color: rgba(0,0,0, 0.87);
       background: #fff;
    }
    .card .card-height-indicator {
       margin-top: 100%;
    }
    .card .title {
       margin-top: 0;
       margin-bottom: 5px;
    }


    .card .card-content {
       padding: 15px 20px;
    }
    .card .card-content .category {
       margin-bottom: 0;
    }
    .card .card-header {
       box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
       margin: -20px 15px 0;
       /*margin: -20px 15px 0 -20px; CUSTOM */
       border-radius: 3px;
       padding: 15px;
       background-color: #999999;
    }
    .card .card-header .title {
       color: #FFFFFF;
    }
    .card .card-header .category {
       margin-bottom: 0;
       color: rgba(255, 255, 255, 0.62);
    }
    .card .card-header.card-chart {
       padding: 0;
       min-height: 160px;
    }
    .card .card-header.card-chart + .content h4 {
       margin-top: 0;
    }
    .card .card-header .ct-label {
       color: rgba(255, 255, 255, 0.7);
    }
    .card .card-header .ct-grid {
       stroke: rgba(255, 255, 255, 0.2);
    }
    .card .card-header .ct-series-a .ct-point, .card .card-header .ct-series-a .ct-line, .card .card-header .ct-series-a .ct-bar, .card .card-header .ct-series-a .ct-slice-donut {
       stroke: rgba(255, 255, 255, 0.8);
    }
    .card .card-header .ct-series-a .ct-slice-pie, .card .card-header .ct-series-a .ct-area {
       fill: rgba(255, 255, 255, 0.4);
    }
    .card .chart-title {
       position: absolute;
       top: 25px;
       width: 100%;
       text-align: center;
    }
    .card .chart-title h3 {
       margin: 0;
       color: #FFFFFF;
    }
    .card .chart-title h6 {
       margin: 0;
       color: rgba(255, 255, 255, 0.4);
    }

    .card .card-footer .content {
       display: block;
    }
    .card .card-footer div {
       display: inline-block;
    }
    .card .card-footer .author {
       color: #999999;
    }
    .card .card-footer .stats {
       line-height: 22px;
       color: #999999;
       font-size: 12px;
    }
    .card .card-footer .stats .material-icons {
       position: relative;
       top: 4px;
       font-size: 16px;
    }
    .card .card-footer h6 {
       color: #999999;
    }
    .card img {
       width: 100%;
       height: auto;
    }
    .card .category .material-icons {
       position: relative;
       top: 6px;
       line-height: 0;
    }
    .card .category-social .fa {
       font-size: 24px;
       position: relative;
       margin-top: -4px;
       top: 2px;
       margin-right: 5px;
    }
    .card .author .avatar {
       width: 30px;
       height: 30px;
       overflow: hidden;
       border-radius: 50%;
       margin-right: 5px;
    }
    .card .author a {
       color: #3C4858;
       text-decoration: none;
    }
    .card .author a .ripple-container {
       display: none;
    }
    .card .table {
       margin-bottom: 0;
       text-align: justify;
    }
    .card .table tr:first-child td {
       border-top: none;
    }
    .card [data-background-color="bleu"] {
       background: linear-gradient(60deg, #0444ae, #0444ae);
      /*box-shadow: 0 12px 20px -5px #bfeaf6, 0 4px 20px 0px #bfeaf6, 0 7px 8px -5px #bfeaf6;
      */
    }
    .card [data-background-color] {
       color: #FFFFFF;
    }
    .card [data-background-color] a {
       color: #FFFFFF;
    }
    .card-stats .title {
       margin: 0;
    }
    .card-stats .card-header {
       float: left;
       text-align: center;
    }
    .card-stats .card-header i {
       font-size: 36px;
       line-height: 56px;
       width: 56px;
       height: 56px;
    }
    .card-stats .card-content {
       text-align: right;
       padding-top: 10px;
    }

    .card-footer {
      margin-top: -25px;
      padding-bottom: 10px;
      text-align: center;
    }

    .divi{
      height: 2px;
      width: 90%;
      background: linear-gradient(60deg, #0488ae, #0444ae);
    }
/*************END CARDS****************/
.navbarteach{
  background: linear-gradient(60deg, #0444ae, #0444ae)!important;
  border: none!important;
  box-shadow: -5px 8px 8px -3px rgba(122,105,122,0.66)!important;
   border-radius: 0
}
